<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{title}}</h1>
  </div>
</div>
{{#createdMessage}}<div class="alert alert-success" role="alert">{{createdMessage}}</div>{{/createdMessage}}
<table class="table table-striped">
  <thead>
  <tr>
    <th>编号</th>
    <th>移动站名</th>
    <th>地址</th>
  </tr>
  </thead>
<tbody>
  <tr>
    <th scope="row">1</th>
    <td>碧桂园府前一号智能移动展厅</td>
    <td>碧桂园一号楼</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>中梁东润园智能移动展厅</td>
    <td>中梁东润园</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>万科学院路七号智能移动展厅</td>
    <td>万科学院路七号</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>置信银河广场智能移动展厅</td>
    <td>置信银河广场</td>
  </tr>
  </tbody>
</table>
<a href="/v/workstations/create" class="btn btn-primary">新建移动站</a>
